* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
body {
	background-color: #fff;
	padding: 0;
	margin: 0;
	color: #333;
}
h1, h2, h3 {
	padding: 0;
	margin: 0;
	font-weight: 300;
}
	h1 a, h2 a, h3 a {
		text-decoration: none;
		color: #333;
	}
table tr td {
	padding: 10px 15px;
	min-width: 150px;
	vertical-align: top;
}

.button {
	display: inline-block;
	padding: 15px 20px;
	margin: 15px 5px;
	background-color: #ddd;
	text-decoration: none;
	color: #333;
}
	.button:hover {
		background-color: #f0141e;
		color: white;
	}

.header-menu {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	list-style: none;
	padding: 10px 10px 0;
	margin: 0;
	background-color: #fff;
	text-align: left;
}
	.header-menu li {
		display: block;
		margin: 0 0 -1px;
		padding: 0;
		border-bottom: 2px solid transparent;
	}
	.header-menu li.current a,
	.header-menu li a:hover {
		color: #f0141e;
	}
		.header-menu .item a,
		.header-menu .title {
			display: block;
			color: #333;
			text-decoration: none;
			padding: 15px 10px;
		}

#page-title {
	display: none;
}

.content {
	width: 80%;
	display: inline-block;
	vertical-align: top;
}

.pagination {
	display: block;
	text-align: center;
}